:root {
    --bs-dark: #004225;
    --bs-light: #F5F5DC;
    --bs-secondary: #FFCF9D;
    --bs-warning: #EE9322;
    /* --bs-warning: #E97224; */


    --bs-dark-rgb: 0, 66, 37;
    --bs-light-rgb: 245, 245, 220;
    --bs-secondary-rgb: 255, 207, 157;
    --bs-warning-rgb: 238, 147, 34;
    /* --bs-warning-rgb:233, 114, 36; */

    --bs-btn-color: #fff;

    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    --bs-body-font-family: var(--bs-font-sans-serif);
    --bs-body-font-size: 1rem;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.5;
    --bs-body-color: #212529;
}

.btn-warning {
    background-color: #EE9322 !important;
    border-color: #EE9322 !important;
    color: #004225;
}

/* .btn-warning{
    background-color: #E97224 !important;
    border-color: #E97224 !important;
    color: #004225;
} */

.btn-warning:hover {
    background-color: #FFB26B !important;
    color: #198754;
}

.btn-dark {
    background-color: #004225 !important;
    border-color: #004225 !important;
    color: #FFCF9D !important;
}

.btn-dark:hover {
    background-color: #198754 !important;
    border-color: #219C90 !important;
}

.btn-secondary {
    background-color: #FFCF9D !important;
    border-color: #FFCF9D !important;
    color: #198754;

}

.btn-secondary:hover {
    background-color: #FFB000 !important;
}

.form-control:focus {
    background-color: #B0D9B1 !important;
    border-color: #79AC78 !important;
}

#back-top-btn {
    display: none;
}

aside {
    width: 15rem !important;
}

/* ----hide sidebar scrollbar */
aside::-webkit-scrollbar {
    display: none;
}


.nav-tabs .nav-link.active{
    background-color: rgba(0, 66, 37, 0.3);
    color: #004225;
}


/* --- less than lg screens--- */
@media screen and (max-width: 991px) {
    div.articles-img {
        min-height: 50dvw;
    }
}

/* --- less than md screens--- */
@media screen and (max-width: 767px) {


    #showcase-img {
        width: 100% !important;
    }

    #newsletter-text {
        text-wrap: wrap !important;
        text-align: center;
    }

    aside {
        width: 100% !important;
    }

}

/* --- less than sm screens--- */

@media screen and (max-width: 575px) {
    .carousel-caption {
        position: static;
        --bs-bg-opacity: 100%;
        width: 100%;
        padding-right: var(--bs-gutter-x, .75rem);
        padding-left: var(--bs-gutter-x, .75rem);
        margin-right: auto;
        margin-left: auto;
    }

div.dogs-card> img{
    max-width: 100% !important;
}

div.dogs-card + a{
    background-color: rgba(245, 245, 220, 0.7);
    position: absolute;
    right: 0;
    top: 5rem;
}
}

@media screen and (max-width: 375px) {
    .progress-description{
        display: none;
    }
}